<div class="timesGreeted">
    <h1>Times Greeted</h1>
    <p>Hello <strong>{{user}}</strong> you've been greeted <strong>{{counter}}</strong> time/s.</p><br>
    <p style="margin-left: 75px;"><strong>Thank You...</strong></p>
</div>
