<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings App</title>
    <link rel="stylesheet" href="css/greet.css">
</head>
<body>
    <div class="container">
        <form action="/greetings" method="POST" >
            <h1>Greetings App</h1>
            <p><Strong>Please Enter Your Name Bellow:</Strong></p>
            {{#if messages.info}}
            <p><span class="warning">{{messages.info}}</span></p>
            {{/if}}
            <div class="nameSec">
                <input placeholder="text" class="personsName" name="name">
                <h2><span class="count">{{counter}}</span></h2>
            </div><br>
            <p><strong>Please Select A Language Of Your Choice:</strong></p>
            <div class="radios">
                <span class="englishLabel" >English</span><input type="radio" name="language" class="englishRadio" value="english">
                <span class="zuluLabel" >iSiZulu</span><input type="radio" name="language" class="zuluRadio" value="zulu">
                <span class="xhosaLabel" >iSiXhosa</span><input type="radio" name="language" class="xhosaRadio" value="xhosa">
            </div><br>
                <button class="greetButton" type="submit">greet</button>
        </form><br>
        <form action="/clearing" method="POST">
                <div class="buttons">
                    <button class="clearButton" type="submit" name="clearing">Clear</button>
                </div>
           </form>
        <p><span class="greetings">{{greeted}}</span></p><br>
        <a href="/userInfo" style="text-decoration: none;">Greeted Users</a>
    </div>   
</body>
</html>